<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS | Directives</title>
</head>

<body>
    <main>
        <h1 v-show="connected">I'm connected WITH SHOW!!!</h1>
        <h1 v-if="connected">I'm connected WITH IF!!!</h1>

        <h2 v-if="age < 18">You can not pass!!!</h2>
        <h2 v-else-if="age > 200">Fucking yeah!! You are inmortal!!!</h2>
        <h2 v-else>You can enter</h2>

        <template v-if="connected">
            <h3>Wellcome Pepe Paco Andres</h3>
            <ul>
                <li>
                    <a href="">My Data</a>
                    <a href="">Messages</a>
                    <a href="">Exit</a>
                </li>
            </ul>
        </template>
        <h4 v-else>You are not connected bitch</h4>
        <pre>{{$data}}</pre>
    </main>

    <script src="https://unpkg.com/vue"></script>
    <script src='./js/main.js'></script>
</body>

</html>